/*Tag Elements*/
h1{
    text-align: center;
}
table{
    border: 2px solid #000000;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0px;
    font-family: sans-serif;
    line-height: 20px;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

table thead th:first-child {
    border-top-left-radius: 8px;
}

table thead th:last-child {
    border-top-right-radius: 8px;
}

tbody th{
    border: solid #000000;
    border-left-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    font-size: x-large;
}

tbody td{
    border: solid #000000;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

thead{
    letter-spacing: 2px;
}

thead th:nth-child(1), thead th:nth-child(3), thead th:nth-child(4){
    width: 20%;
}
thead th:nth-child(2){
    width: 40%;
}

/*Class Elements*/

.aldo{
    background-color: #d1eaa3;
}
.casa{
    background-color: #ffffff;  
}
.camilla{
    background-color: #efee9d;
}
.escolastica{
    background-color: #abc2e8;
}
.renatto{
    background-color: #dbc6eb;
}
.titulo{
    background-color: yellow;
    font-family: 'serif';
    font-size: large;
}

/*ID Elements*/

#celulaEsquerdaBaixo{
    border-bottom-left-radius: 8px;
}